/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.aboutPage{
    color: blue;
    background-color: aquamarine;

    font-family: 'Roboto' , sans-serif;
    font-size : 48px;
}

button{
    height: 30px;
    width: 80px;
    padding : 10px;
    border : 2px solid red;
    margin : 10px;
}

.centered-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}  */

body {
    background: #3C3C3C;
    margin: 0;
    display: block;
    margin: 8px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    background-color: rgb(255, 255, 255);
}

body{
    display: flex;
    flex-direction: column;
}

.top-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   
    font-size: larger;
}

.top-left,.top-right{
    display: flex;
    gap : 1.5rem;
    justify-content: center;
    align-items: center;
}

.app-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}
.Google-Logo{
    width: 20rem;
    height: 10rem;
    padding: 10px;
    gap : 1.5rem
}
.search-icon{
    width:1rem;
    height: 1rem;
}
.mic,.cam{
    width: 1.5rem;
    height: 1.5rem;
}

a{
    text-decoration: none;
    color: black;
}

.middle-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap : 1.5rem;
}

.search-form{
    display: flex;
    flex-direction: row;
    background : white;
    border: 1px solid #dfe1e5;
    padding: 0.8rem;
    width: 27rem;
    gap: 0.8rem;
    border-radius: 40rem;
    align-items: center;
    justify-content: center;
}
.search-form label{
    display: none;
}
.search-form-input{
    flex: 1;       
    border: none;
    outline: none;
    font-size: 16px;
}


.search-form-button button {
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.search-form-button button:hover {
    border: 1px solid #dadce0;
}